:root {
  --main-blue: #002c42;
}

#title {
  background-color: #002c42;
  color: #fff;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  width: 4rem;
  height: 4rem;
}


body {
  font-family: "Montserrat-Black", sans-serif;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar {
  padding-right: 0px!important;
  padding: 50px 0;
}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  line-height: 1.5;

  position: relative;

}


.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-dark .navbar-brand {
  color: #dcdde1;
}

.nav-item {
  
  text-transform: uppercase;
 
}


.nav-link {
  font-size: 1rem;
  font-family: "Montserrat-Light", sans-serif;
}

.title-image {
  width: 60%;

  position: absolute;
  right: 20%;
}


#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

h3 {
  font-family: "Montserrat-Bold", sans-serif;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #002c42;

  margin-bottom: 1rem;
}

section {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.icon:hover {
  color: #0d2f40;
}

#testimonials {
  text-align: center;
  background-color: #002c42;
  color: #fff;
}

h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #fff;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#membership {
  background-color: #002c42;
}

.O-I-button {
  margin: 5% 3% 5% 0;
}

#membership #header-1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  padding: 30px;
}

#membership #header-2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  padding: 10px 50px 0px;
}

#membership #header-2 img {
  padding: 20px;
}

#membership #iaeste-india {
  height: 60px;
}

#membership #line {
  background-color: #ffffff;
  margin: auto 50px;
  height: 60px;
  width: 3px;
}

#membership #exchange-year {
  margin: 20px;
  height: 30px;
}

#membership #body {
  background-color: #0d4663;
  padding: 30px auto;
  z-index: 0;
}

#membership #body #back {
  position: absolute;
  width: 40%;
  left: 30%;
  margin: 20px;
  z-index: 1;
}

#membership {
  z-index: 1;
  padding: 25px;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  font-family: "Avenir";
}

#membership #stats {
  z-index: 1;
  display: grid;
  color: #ffffff;
  font-family: "Avenir";
  text-align: center;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 10px;
}
#membership #stats div {
  margin-bottom: 40px;
}
#membership #stats h3 {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

#membership #stats p {
  padding: 0;
  margin: 0;
  font-size: 30px;
}
.abc {
  position: relative;
  left: 40px;
}

/* 
  Footer ---------------------------------------------------
*/

#footer {
  margin: auto;
  padding: 2% 15%;
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: var(--main-blue);
  color: white;
  font-size: 0.9em;
}
@media only screen and (max-width: 768px) {
  #footer {
    padding: 2% 2%;
  }
}

#column-left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-right: 3px;
}

.footer-field {
  display: grid;
  grid-template-columns: 30px auto;
  margin: 12px 0;
}
.footer-icon {
  grid-column: 1/2;
  font-weight: normal;
  font-size: 20px;
  align-self: center;
}
.footer-info {
  grid-column: 2/2;
  margin: 0 0 0 15px;
  display: block;
  color: white;
}

#column-right {
  grid-column: 2;
  margin: 12px 0;
}
#footer-lc-list {
  margin: auto;
}
#footer-lc-list a {
  text-decoration: none;
  color: white;
}
#footer-lc-list a:hover {
  text-decoration: none;
  color: lightgrey;
}
.social-icon {
  color: white;
  margin: 20px 10px 20px 0;
}

#footer-bottom {
  grid-column: 1/3;
  margin-top: 10px;
  font-size: 0.9em;
}
.footer_text {
  color: #8f8f8f;
  margin: 0;
  padding: 2px;
  text-align: center;
}
#iecse_logo {
  height: 0.8rem;
  vertical-align: baseline;
  margin-left: 2px;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff;
}

/* 
    Membership  ---------------------------------------------------
*/
#membership-section-1 {
  padding: 2% 2%;
  background: #002c42;
  color: white;
}

.membership-content-1 {
  font-family: "Raleway", sans-serif;
  margin: 2% 0;
  width: 100%;
}

.membership-button-1 {
  font-size: 160%;
  color: #002c42;
  border: none;
  border-radius: 30px;
  padding: 0 0%;
  cursor: pointer;
  margin-bottom: 1rem!important;
}

.row > .col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row > .col-3 > button {
  font-size: 160%;
  color: #002c42;
  border: none;
  border-radius: 30px;
  padding: 0 0%;
  cursor: pointer;
}

#membership-section-2 {
  padding: 2% 2%;
  background: white;
  color: #002c42;
}

.membership-content-2 {
  font-family: "Raleway", sans-serif;
  margin: 2% 0 2% 3%;
  width: fit-content;
}

.membership-button-2  {
  font-size: 152%;
  color: white;
  text-align: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #002c42;
  padding: 0 15%;
  text-decoration: none;
}

.offer {
  font-size: 152%;
  color: white;
  text-align: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #002c42;
  padding: 0 15%;
  text-decoration: none;
}

.content-2-alignment {
  display: flex;
  width: 100%;
}

.content-2-alignment > .total-content-2 {
  width: 22%;
}

.total-content {
  display: flex;
  width: 100%;
}

.total-content-2 {
  display: flex;
  flex-direction: column;
}

.forMargin {
  margin: 27% 0 20% 0;
}

.inAndOut {
  font-family: "Raleway", sans-serif;
  width: 100%;
}
.InStation strong {
  color: #002c42;
  font-weight: bolder;
}

.InStation h3 {
  color: #002c42;
}

.InStation {
  display: flex;
  flex-direction: column;
  padding: 2% 3% 0% 3%;
  width: 100%;
  margin: 0;
}

.outStation {
  display: flex;
  flex-direction: column;
  padding: 2% 3% 0% 2%;
  margin: 0;
  background-color: #002c42;
  width: 100%;
  color: white;
}

.offerTypes {

  display: flex;
  flex-direction: column;
  padding: 2% 3% 0% 3%;
  width: 100%;
  margin: 0;
  color: #002c42;


}

@media screen and (max-width: 700px) and (min-width: 300px) {
  div > .forMargin {
    margin: 38% 0 31% 0;
  }

  .total-content-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-2-alignment > .total-content-2 {
    width: 100%;
  }

  .membership-button-2 {
    font-size: 130%;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #002c42;
    padding: 0 0%;
    width: 90%;
  }

  .inAndOut h3 {
    text-align: center;
  }

  .InStation {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 0% 5%;
  }
}

/* for iphone 5e */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  div > .forMargin {
    margin: 64% 0 50% 0;
  }

  .total-content-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-2-alignment > .total-content-2 {
    width: 100%;
  }

  .membership-button-2 {
    font-size: 130%;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #002c42;
    padding: 0 0%;
    width: 90%;
  }

  .inAndOut h3 {
    text-align: center;
  }

  .InStation {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 0% 5%;
    width: 100%;
  }
}

/*  for  iphone 6,7,8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  div > .forMargin {
    margin: 47% 0 36% 0;
  }

  .total-content-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-2-alignment > .total-content-2 {
    width: 100%;
  }

  .membership-button-2 {
    font-size: 130%;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #002c42;
    padding: 0 0%;
    width: 90%;
  }

  .inAndOut h3 {
    text-align: center;
  }

  .InStation {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 0% 5%;
  }
}

/*  for  pixel phones */
@media only screen and (min-device-width: 411px) and (max-device-width: 731px) {
  div > .forMargin {
    margin: 38% 0 31% 0;
  }

  .total-content-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-2-alignment > .total-content-2 {
    width: 100%;
  }

  .membership-button-2 {
    font-size: 130%;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #002c42;
    padding: 0 0%;
    width: 90%;
  }

  .inAndOut h3 {
    text-align: center;
  }

  .InStation {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 0% 5%;
  }
}

/*  for  iphone 6,7,8 plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  div > .forMargin {
    margin: 40% 0 30% 0;
  }

  .total-content-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-2-alignment > .total-content-2 {
    width: 100%;
  }

  .membership-button-2 {
    font-size: 130%;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #002c42;
    padding: 0 0%;
    width: 90%;
  }

  .inAndOut h3 {
    text-align: center;
  }

  .InStation {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 0% 5%;
  }
}

/*  for galaxy s5 */
@media only screen and (min-device-width: 360px) and (max-device-height: 540px) {
  div > .forMargin {
    margin: 51% 0 39% 0;
  }

  .total-content-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-2-alignment > .total-content-2 {
    width: 100%;
  }

  .membership-button-2 {
    font-size: 130%;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #002c42;
    padding: 0 0%;
    width: 90%;
  }

  .inAndOut h3 {
    text-align: center;
  }

  .InStation {
    display: flex;
    flex-direction: column;
    padding: 2% 5% 0% 5%;
  }
}
