:root {
  --main-blue: #002c42;
  --font-blue: #002c42;
  --map-gradient-inner: #16c6ee;
  --map-gradient-outer: #002385;
  --hover-colour: white;
  --list-dropdown: #003d5c;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Black", sans-serif;
  width: 100%;
  background-color: var(--main-blue);
  color: white;
}

section {
  padding: 4vh 5vw;
}
h3 {
  margin-bottom: 20px;
}
/* TitleSection */

#title {
  color: #fff;
  padding: 0;
  background: #1d1e23;
}

.container-fluid {
  padding: 3% 5% 3% 5%;
  box-sizing: border-box;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  position: relative;
}

.navbar {
  padding: 0;
}

.nav-item {
  padding: 0 3px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

.title-image {
  width: 60%;
  position: absolute;
  right: 20%;
}

.logo {
  height: 60px;
  width: 200px;
}

/* 
  Overview
*/

#overview {
  color: white;
  background: #1d1e23;
  background-image: url("./landing.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 4vh 5vw;
  margin: 3vh 0;
}

#overview-content {
  grid-column: 1/2;
}
#overview-content > h3 {
  margin-bottom: 20px;
}
#overview-content > p {
  backdrop-filter: blur(1px);
  background-clip: content-box;
}
@media only screen and (max-width: 768px) {
  #overview {
    display: block;
    text-align: center;
  }
}

/*
How to Apply
*/
#how-to-apply-header {
  margin-bottom: 20px;
}
#step-wise-guide {
  margin: 10px 0;
}
#stepwise-list {
  margin-top: 3vh;
}

/* Testimonial Section -------------> */
#slider-container {
  display: flex;
  flex-wrap: wrap;
}

#testimonials {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
  /* height: 450px; */
}

.quote {
  color: #8f8f8f;
}
blockquote {
  width: 25%;
  margin: 0;
  float: left;
  padding-bottom: 1em;
}
figure {
  position: absolute;
  width: 400%;
  left: 0;
  animation: 20s slider infinite;
  -webkit-animation: 20s slider infinite;
  border-top: 1px solid #c2c1c2;
  border-bottom: 1px solid #c2c1c2;
  margin: 0;
}

@-webkit-keyframes slider {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-25%);
  }
  58% {
    transform: translateX(-25%);
  }
  66% {
    transform: translateX(-50%);
  }
  91% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-75%);
  }
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-25%);
  }
  58% {
    transform: translateX(-25%);
  }
  66% {
    transform: translateX(-50%);
  }
  91% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-75%);
  }
}

/* 
  Map Section 
*/
#map-section {
  text-align: center;
  background-color: var(--main-blue);
  color: #fff;
  padding: 3vh 0 4vh 0;
}

#map-container {
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}

#world-map {
  grid-column: 2;
  padding: 0 min(10px, 3vw);
  width: 60vw;
  height: auto;
  fill: url(#map-gradient) rgba(255, 255, 255, 0.651);
  box-sizing: border-box;
}
.land:hover {
  cursor: pointer;
}

#info {
  grid-column: 1;
  width: 40vw;
  color: black;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.continent-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: none;
  overflow-y: scroll;
  padding-top: 20px;
}

.continent-name {
  background-color: white;
  margin: auto;
  padding: 4px 16px;
  border-radius: 4px;

  font-weight: 600;
  font-size: 1.2em;
}

.country-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: black;
}

.country {
  width: 29%;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 3vh 0;
  background-color: white;
  position: relative;
  text-align: center;
  z-index: 1;
}

.down-arrow {
  position: absolute;
  right: 4px;
}
.LC-list {
  border-top: 1px solid grey;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: none;

  padding: 1vh 0 1vh 0;
  margin: 0;
  background-color: white;
  border-radius: 0 0 4px 4px;
  z-index: 10;
  color: black;

  list-style-type: none;
}
.LC-list > a > li {
  border-bottom: 1px solid lightgrey;
}

.country:hover {
  border-radius: 4px 4px 0 0;
  z-index: 15;
}
.country:hover .LC-list {
  display: inline;
}

/* 
  Footer
*/

#footer {
  padding: 2% 15%;
  color: white;
  background-color: var(--main-blue);
  text-align: center;
}

.social-icon {
  color: white;
  margin: 20px 15px;
}

.footer_text {
  font-size: 1rem;
  color: #8f8f8f;
}

.figures {
  font-size: 1.5rem;
}
