#title {
  background-color: #002c42;
  color: #fff;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: "Montserrat-Black", sans-serif;
}

.navnav {
  padding-right: 0;
  padding-left: 0;
  padding: 3% 18% 3%;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  position: relative;
  right: 100px;
}

.navbar {
  padding: 0px 0 1.5rem;
}

.nav-item {
  padding: 0 3px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}
.logo {
  height: 06px;
  width: 200px;
  position: relative;
  left: 100px;
}

#landing {
  background-image: url("landing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  width: 100%;
  height: 100%;
}

#landing-front {
  display: block;
  height: 35%;
  width: 60%;
  padding-top: 5%;
  margin: auto;
  position: relative;
  bottom: 100px;
}

#landing-subtitle {
  display: block;
  height: 30%;
  width: 40%;
  margin: auto;
  position: relative;
  bottom: 100px;
}
